/*About container*/
.aboutContainer {
  grid-row: 2;
  text-align: center;
  padding: 2vh;
  color: #14213d;
}
.aboutTitle {
  text-shadow: 2px 2px #14213d;
  font-weight: bold;
  color: #fca311;
  font-size: 2em;
  margin: 1vh;
}

.aboutContainer p {
  margin: 1vh;
}

.aboutText {
  font-size: 1em;
}

.picOfMe {
  width: 40%;
  border: 3px solid none;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .aboutContainer {
    grid-column: 1 / span 12;
  }
}
