/*About container*/
.aboutContainer {
  grid-column: 1 / span 4;
  grid-row: 2;
  text-align: center;
  padding: 2vh;
  color: #14213d;
}
.aboutHeader {
  text-shadow: 2px 2px #14213d;
  font-weight: bold;
  color: #fca311;
  font-size: 2em;
  margin: 1vh;
}

.aboutContainer p {
  margin: 1vh;
}

.aboutText {
  font-size: 1em;
}

.picOfMe {
  width: 40%;
  border-radius: 20px;
}

/*Fade in*/
.fade-in-about {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in-about.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 1000px) {
  .aboutContainer {
    grid-column: 1 / span 12;
  }
}
@media only screen and (max-width: 550px) {
  .picOfMe {
    width: 50%;
  }
}
