/*HEADER AND IT'S CONTENTS*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

header {
  grid-column: 1 / span 12;
  font-family: Ubuntu, sans-serif;

  overflow: hidden;
  color: #d8d7d4;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  text-align: center;
}

header::before {
  background: url("/img/MyPic-min.jpg");
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
}



.signature {
  color: #14213d;
  margin-top: 3em;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.titleAndSubtitle {
  filter: none;
  text-align: left;
  margin: 4vw;
  padding: 0 1.5em 1.5em 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  word-wrap: break-word;

  max-width: 33%;
  border-radius: 30px;
}

.heroLink {
  margin: 0.5em;
}

.heroLink  img{
  width: 2.5em;
}

.title {
  text-shadow: 2px 2px 2px black;
  color: #f4f3ee;
  font-size: 4em;
}

.subtitle {
  color: #fca311;
  text-shadow: 2px 2px 2px black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100vw;
}

.navlink {
  background-color: rgb(52, 58, 62);
  color: #fca311;
  width: 20%;
  text-decoration: none;
  font-size: 1.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  transition: 0.3s ease-in-out;
  border:none;
}

.navlink:not(:last-child) {
  border-right: none;
}

.navlink:hover {
  background-color: #fca311;
  color: #e5e5e5;
  width: 25%;
}

.navlink:active {
  background-color: white;
  color: #454140;
  transition: 0s;
}

/*Fade-in*/
.fade-in-hero {
  opacity: 0;
  transform: translateX(-20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-hero.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 1000px) {
  header {
    background-position: 50%;
  }

  .titleAndSubtitle {
    padding: 0.1em 1em 1em 1em;
    max-width: 100%;
    background: none;
  }

  .navlink:hover {
    width: 20%;
  }

  .heroLinkPic {
    max-width: 2.5em;
  }
}

@media only screen and (max-width: 550px) {
  header {
    height: 55vh;
  }
  
  header::before {
    background-position: 60% -20vh;
  }

  .titleAndSubtitle {
    margin-top: 1em;
  }

  .navlink {
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 0;
    padding-right: 0;
  }

  .navText {
    display: none;
  }

  .title {
    font-weight: bold;
    font-size: 2em;
  }

  .subtitle {
    font-weight: bold;
    font-size: 1.1em;
  }

  .signature {
    word-wrap: break-word;
  }

}
@media only screen and (max-height: 500px) {
  header {
    height: 100vh;
  }
}
