.project {
  background-color: #24292e;
  border: solid 2px black;
  border-radius: 5px;
  transition: 0.3s;
  height: auto;
  padding-bottom: 1em;
}

.project:hover {
  background-color: #434a52;
}

.projectname {
  font-family: Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  color: #d8d7d4;
  font-size: 1.2em;
}

.projectname:hover {
  color: #bd5734;
  text-decoration: underline;
}

.description {
  font-size: 1em;
  margin-bottom: 1px;
  text-overflow: ellipsis;
}

.projectThumbnail {
  object-fit: cover;
  display: block;
  border: darkgrey 3px ridge;
  border-radius: 4px;
  height: 55%;
  width: 90%;
  margin: 2.5% auto 2.5% auto;
}

.fade-in-project {
  opacity: 0.3;
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}
.fade-in-project.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 1000px) {
  .project {
    width: 100%;
  }

  .projectname {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
    margin-bottom: 1em;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 550px) {
  .project {
    min-width: 95vw;
    min-height: auto;
  }
}
