/*Projects*/
.projects {
  text-align: center;
  grid-column: 5 / span 12;
  grid-row: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-bottom: 2vh;
}

.projectsGrid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em;
  color: #d8d7d4;
}

.projectsHeader {
  text-shadow: 2px 2px #14213d;
  font-weight: bold;
  color: #fca311;
  font-size: 2em;
  margin: 1vh;
}

/*Fade-in*/
.fade-in-projects {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in-projects.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 550px) {
  .projectsGrid {
    grid-auto-flow: column dense;
    grid-template-rows: 1fr;
    overflow-x: auto;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .projects {
    grid-column: 1 / span 12;
    overflow-x: hidden;
    margin: 0;
  }
}
