.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(52, 58, 65);
  box-shadow: 2px 2px 4px black;
  color: white;
  border: solid 0px black;
  border-radius: 5px;

  height: min-content;
  padding-bottom: 1em;
}

.project:hover {
  background-color: #19395e;
  color: white;
  transition: 0.2s;
}

.projectname {
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  justify-self: flex-start;
  text-decoration: underline;
  display: block;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.projectname:hover {
  color: #fca311;
  text-decoration: underline;
}

.expandArrow {
  z-index: 2;
  cursor: pointer;
  width: 10%;
  align-self: center;
  border-radius: 100vw;

  transition: 0.2s;
}

.expandArrow:hover {
  background: #f3f3f3;
  box-shadow: #f3f3f3 0px 0px 10px;

  transition: 0.2s;
}

.projectThumbnail {
  object-fit: contain;
  display: block;
  width: 35%;
  margin: 2.5% auto 2.5% auto;
}

.description {
  max-height: 0px;
  opacity: 0;
  overflow: none;
  font-size: 1em;
  margin-bottom: 0em;
  text-overflow: ellipsis;

  transition: max-height 0.3s, opacity 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}
.project.open {
  max-height: auto;
  transition: 0.5s;
}

.project.open .description {
  opacity: 1;
  overflow: visible;
  margin-bottom: 1em;
  max-height: 500px;
}

.project.open .expandArrow {
  transform: rotate(180deg);
}

.fade-in-project {
  opacity: 0.3;
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}

.fade-in-project.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: 0.5s;
  will-change: visibility, opacity;
}

@media only screen and (max-width: 1000px) {
  .project {
    width: 100%;
  }

  .projectname {
    font-size: 1.5em;
  }

  .projectThumbnail {
    width: 40%;
  }

  .description {
    font-size: 1em;
    margin-bottom: 0em;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 550px) {
  .project {
    min-width: 85vw;
    height: min-content;
  }
}
