.workContainer {
  grid-column: 1 / span 6;
  text-align: center;
}

.workHeader {
  text-shadow: 2px 2px #14213d;
  font-weight: bold;
  color: #fca311;
  font-size: 2em;
  margin: 1vh;
}
