html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #e5e5e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*Projects*/
.projects {
  grid-column: 5 / span 12;
}

.aboutContainer {
  grid-column: 1 / span 4;
}

@media only screen and (max-width: 550px) {
  .projectsGrid {
    grid-template-rows: auto;
  }

  .project {
    min-width: 95vw;
    min-height: auto;
  }

  /*MediaQuery responsiveness*/
  @media only screen and (max-width: 1000px) {
    /*Projects responsiveness*/

    .projects {
      grid-column: 1 / span 12;
      overflow-x: scroll;
      margin: 0;
    }

    .projectsGrid {
      grid-template-rows: auto;
    }

    .project {
      width: 43vw;
    }

    .projectname {
      font-size: 2.5vmax;
    }
    .description {
      font-size: 2vmax;
      margin-bottom: 1px;
      text-overflow: ellipsis;
    }

    .navlink:hover {
      width: 20%;
    }

    .aboutContainer {
      grid-column: 1 / span 12;
    }
  }
}
